<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCoNgx2JC4bon3-KhVZqvwkGvZmFIR2vgg</string>
	<key>GCM_SENDER_ID</key>
	<string>663048927877</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.schoolApp</string>
	<key>PROJECT_ID</key>
	<string>schoolapp-a444b</string>
	<key>STORAGE_BUCKET</key>
	<string>schoolapp-a444b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:663048927877:ios:cd59259429784eb118c7ec</string>
</dict>
</plist>